@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  color: #ffffff;
  background: url('./assets/sky.jpg') no-repeat center center/cover;
}

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}

.container {
  width: 430px;
  height: 700px;
  background-color: rgba(101, 136, 160, 0.567);
  display: flex;
  justify-content: center;
  border-radius: 45px;
  margin-top: 10px;
  padding: 6rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.search-bar {
  justify-content: center;
  position: absolute;
}

.search-bar input {
  width: 300px;
  max-height: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  padding:26px;
  border: none;
  font-size: 18px;
}

.search-bar input:focus{
  outline: none;
}

.search-icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.search-icon img {
  width: 22px;
  position: absolute;
  transform: translate(15.9rem, -37px);
  filter: invert(40%);
}

.weather-info {
  height: 200px;
  justify-content: center;
  margin-top: 5.2rem;
}

.icon {
  display: flex;
  justify-content: center;
}

.icon img {
  width: 180px;
  height: 180px;
}

.temp {
  display: flex;
  margin-left: 15px;
  font-size: 90px;
  font-weight: 400;
  letter-spacing: -5px;
  margin-top: -6px;
  display: flex;
  justify-content: center;
}

#degree {
  font-size: 30px;
  letter-spacing: 0;
  margin-top: 8px;
  margin-left: 6px;
  font-weight: 300;
}

.location {
  display: flex;
  justify-content: center;
  font-size: 29px;
  font-weight: 300;
  margin-top: -5px;
}

.description {
  display: flex;
  justify-content: center;
  font-size: 21px;
  font-weight: 200;
  margin-top: 8px;
}

.weather-details {
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: center;
  position: absolute;
  font-size: 14px;
  font-weight: 300;
  gap: 2.2rem;
  text-align: left;
  margin-top: 28.5rem;
  margin-left: 1rem;
}

.weather-details p {
  margin-top: 5px;
  font-size: 22.5px;
  letter-spacing: -0.7px;
  font-weight: 300;
}

.details-icons {
  width: 16px;
  height: 16px;
  display: grid;
  grid: 1px / auto auto;
  position: absolute;
  filter: invert();
  margin-left: -1.2rem;
  margin-top: 0;
}